
body{
    background-color: rgb(23, 22, 22);
}
.Signp{
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 200px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: antiquewhite;
}
